.footer
  .footer__menu
    %ul.footer__menu__lists
      %li.footer__menu__lists__title
        レシピを探す
      %li.footer__menu__lists__link
        = link_to root_path, method: :get do
          カテゴリ一覧
      %li.footer__menu__lists__link
        = link_to root_path, method: :get do
          専門家が選んだ目的別レシピ
      %li.footer__menu__lists__link
        = link_to root_path, method: :get do
          プロのレシピ
      %li.footer__menu__lists__link
        = link_to root_path, method: :get do
          話題のレシピ
      %li.footer__menu__lists__link
        = link_to root_path, method: :get do
          殿堂入りレシピ
      %li.footer__menu__lists__link
        = link_to root_path, method: :get do
          人気の検索キーワード
      %li.footer__menu__lists__link
        = link_to root_path, method: :get do
          新着レシピ
      %li.footer__menu__lists__link
        = link_to root_path, method: :get do
          新着つくれぽ
      %li.footer__menu__lists__link
        = link_to root_path, method: :get do
          ピックアップレシピ
      %li.footer__menu__lists__link
        = link_to root_path, method: :get do
          デイリーアクセス数ランキング
      %li.footer__menu__lists__link
        = link_to root_path, method: :get do
          料理動画
      %li.footer__menu__lists__link
        = link_to root_path, method: :get do
          おすすめ特集[広告]
      %li.footer__menu__lists__link
        = link_to root_path, method: :get do
          メーカーのこだわりレシピ[広告]
      %li.footer__menu__lists__link
        = link_to root_path, method: :get do
          cookpad TV [Facebook]
      %li.footer__menu__lists__link
        = link_to root_path, method: :get do
          教えておすすめレシピ
    %ul.footer__menu__lists
      %li.footer__menu__lists__title
        レシピを書く
      %li.footer__menu__lists__link
        = link_to root_path, method: :get do
          レシピを書く
      %li.footer__menu__lists__link
        = link_to root_path, method: :get do
          レシピの書き方について
      %li.footer__menu__lists__link
        = link_to root_path, method: :get do
          企業・団体キッチンの登録
      %br
      %li.footer__menu__lists__title
        献立
      %li.footer__menu__lists__link
        = link_to root_path, method: :get do
          みんなの献立
      %li.footer__menu__lists__link
        = link_to root_path, method: :get do
          プレミアム献立
    %ul.footer__menu__lists
      %li.footer__menu__lists__title
        料理教室
      %li.footer__menu__lists__link
        = link_to root_path, method: :get do
          クックパッド料理教室
      %li.footer__menu__lists__link
        = link_to root_path, method: :get do
          料理募集
    %ul.footer__menu__lists
      %li.footer__menu__lists__title
        おすすめ
      %li.footer__menu__lists__link
        = link_to root_path, method: :get do
          メールマガジン
      %li.footer__menu__lists__link
        = link_to root_path, method: :get do
          モバイルサービス
      %li.footer__menu__lists__link
        = link_to root_path, method: :get do
          有名人・団体公式キッチン
      %li.footer__menu__lists__link
        = link_to root_path, method: :get do
          クックパッドニュース
      %li.footer__menu__lists__link
        = link_to root_path, method: :get do
          クックパッドのレシピ本
      %li.footer__menu__lists__link
        = link_to root_path, method: :get do
          料理の基本
      %li.footer__menu__lists__link
        = link_to root_path, method: :get do
          クックパッドブログ
      %br
      %li.footer__menu__lists__title
        プレミアムサービス
      %li.footer__menu__lists__link
        = link_to root_path, method: :get do
          プレミアムサービス
      %li.footer__menu__lists__link
        = link_to root_path, method: :get do
          会員限定クーポン＆プレゼント
      %li.footer__menu__lists__link
        = link_to root_path, method: :get do
          プレミアムクーポン
      %li.footer__menu__lists__link
        = link_to root_path, method: :get do
          プレミアムパス
    %ul.footer__menu__lists
      %li.footer__menu__lists__title
        あなたのページ
      %li.footer__menu__lists__link
        = link_to root_path, method: :get do
          MYキッチン
      %li.footer__menu__lists__link
        = link_to root_path, method: :get do
          MYフォルダ
      %li.footer__menu__lists__link
        = link_to root_path, method: :get do
          MYニュース
      %li.footer__menu__lists__link
        = link_to root_path, method: :get do
          最近見たレシピ
      %li.footer__menu__lists__link
        = link_to root_path, method: :get do
          登録情報
      %br
      %li.footer__menu__lists__title
        くらし・ライフイベント
      %li.footer__menu__lists__link
        = link_to root_path, method: :get do
          妊娠・育児・子育て
      %li.footer__menu__lists__link
        = link_to root_path, method: :get do
          習い事・資格取得
  .footer__nav
    %ur.footer__nav__lists
      %li.footer__nav__lists__title
        サポート
      %li.footer__nav__lists__link
        = link_to root_path, method: :get do
          ヘルプ
      %li.footer__nav__lists__link
        = link_to root_path, method: :get do
          機種変更ガイド
      %li.footer__nav__lists__link
        = link_to root_path, method: :get do
          料理を楽しむにあたって
      %li.footer__nav__lists__link
        = link_to root_path, method: :get do
          利用規約
      %li.footer__nav__lists__link
        = link_to root_path, method: :get do
          リンクについて
    %ur.footer__nav__lists
      %li.footer__nav__lists__title
        企業情報
      %li.footer__nav__lists__link
        = link_to root_path, method: :get do
          運営会社
      %li.footer__nav__lists__link
        = link_to root_path, method: :get do
          情報セキュリティ基本方針
      %li.footer__nav__lists__link
        = link_to root_path, method: :get do
          プライバシーポリシー
      %li.footer__nav__lists__link
        = link_to root_path, method: :get do
          広告掲載
      %li.footer__nav__lists__link
        = link_to root_path, method: :get do
          採用情報
    %ur.footer__nav__lists
      %li.footer__nav__lists__title
        日本
      %li.footer__nav__lists__link
        = link_to root_path, method: :get do
          Español
      %li.footer__nav__lists__link
        = link_to root_path, method: :get do
          English
      %li.footer__nav__lists__link
        = link_to root_path, method: :get do
          Indonesia
      %li.footer__nav__lists__link
        = link_to root_path, method: :get do
          العربية
      %li.footer__nav__lists__link
        = link_to root_path, method: :get do
          Việt Nam
      %li.footer__nav__lists__link
        = link_to root_path, method: :get do
          ไทย
    %ur.footer__nav__lists
      %p
        Copyright© Cookpad Inc. All Rights Reserved
