.header
  .header__menu
    %ul.header__menu__left
      = link_to root_path, method: :get do
        %li.header__menu__left__toppage
          クックパッド
      = link_to root_path, method: :get do
        %li.header__menu__left__service
          サービス一覧
      = link_to root_path, method: :get do
        %li.header__menu__left__recommend
          やみつきタイ料理をマスター！
    %ul.header__menu__right
      - if logged_in?
        = link_to logout_path, method: :delete do
          %li.header__menu__right__login
            ログアウト
        = link_to edit_user_path(current_user.id), method: :get do
          %li.header__menu__right__registration
            ユーザー編集
        = link_to "/users/#{current_user.id}", method: :get do
          %li.header__menu__right__registration
            MYキッチン
      - else
        = link_to login_path, method: :get do
          %li.header__menu__right__login
            ログイン
        = link_to new_user_path, method: :get do
          %li.header__menu__right__registration
            ユーザー登録(無料)
      = link_to root_path, method: :get do
        %li.header__menu__right__premium
          プレミアムサービス
