= render partial: '/layouts/modules/nav-bar'
.body
  = render partial: '/layouts/modules/header'
  .contents
    = form_for @recipe, html:{ multipart: true, id: 'recipe_form'}, url: recipes_path do |f|
      .contents__post
        .contents__post__author
          .contents__post__author__name
            = link_to root_path, method: :get do
              %i.fa.fa-angle-double-left
              = current_user.name
              のレシピ
        .contents__post__print_and_delete
          %span.contents__post__print_and_delete__print
            = link_to '', method: :get do
              印刷
          %span.contents__post__print_and_delete__delete
            = link_to '', method: :get do
              削除
        = render partial: '/recipes/name-form', locals:{f: f}
        .contents__post__image
          = f.label :dish_image do
            = image_tag 'レシピ投稿.png', width: 280,  class: 'contents__post__image__dish'
          = f.file_field :dish_image, style: 'display: none;', class: 'contents__post__image__file'
        = render partial: '/recipes/catch_copy-form', locals:{f: f}
        %p.contents__post__chef
          = link_to root_path, method: :get do
            - if current_user.image.url
              = image_tag current_user.image, width:22, height:22
            - else
              = image_tag 'default-icon.png', width: 22, height: 22, alt: 'logo'
            = current_user.name
        = render partial: '/recipes/ingredients-form', locals:{f: f}
        = f.fields_for :steps do |s|
          = render partial: '/recipes/steps-form', locals:{s: s}
        .contents__post__tips
          = render partial: '/recipes/tips-form', locals:{f: f}
        .contents__post__history
          = render partial: '/recipes/history-form', locals:{f: f}
      = render partial: '/recipes/recipe-side', locals:{f: f}
  = render partial: 'layouts/modules/footer'
