= render partial: '/layouts/modules/nav-bar'
.body
  = render partial: '/layouts/modules/header'
  .contents
    .contents__post
      .contents__post__name
        .contents__post__name__cover
        .contents__post__name__display.show_recipe
          = @recipe.name
      .contents__post__image
        = image_tag "#{@recipe.dish_image}", width: 280,  class: 'contents__post__image__dish'
      .contents__post__catch-copy__result.show_recipe#catch-copy_result
        = @recipe.catch_copy
      %p.contents__post__chef
        = link_to "/users/#{@recipe.user_id}", method: :get do
          - if @recipe.user.image.url
            = image_tag @recipe.user.image, width:22, height:22
          - else
            = image_tag 'default-icon.png', width: 22, height: 22, alt: 'logo'
          = @recipe.user.name
      .contents__post__ingredients{style: 'display: inline-block'}
        .contents__post__ingredients__title
          材料
        - @recipe.ingredients.each do |i|
          .contents__post__ingredients__list
            .contents__post__ingredients__list__name
              = i.name
            .contents__post__ingredients__list__quantity
              = i.quantity
      .contents__post__steps#steps
        - @recipe.steps.each_with_index do |s, i|
          %ul.contents__post__steps__step
            %span.contents__post__steps__step__num
              = i
            %li.contents__post__steps__step__image
              = image_tag s.step_image
            .contents__post__steps__step__text.step_display
              .contents__post__steps__step__text__result.show_recipe
                = s.how_to
      .contents__post__tips
        %p.contents__post__tips__title
          コツ・ポイント
        .contents__post__tips__result.show_recipe#tip_result
          = @recipe.tip
      .contents__post__history
        .contents__post__history__title
          このレシピの生い立ち
        .contents__post__history__display
          .contents__post__history__result.show_recipe
            = @recipe.history
    %ul.contents__menu_tab
      %li.contents__menu_tab__review
        レビュー(2件)
    .contents__review
      %ul.contents__review__total
        %li.contents__review__total__avarage
          .contents__review__total__avarage__back
            ★★★★★
          .contents__review__total__avarage__front
            ★★★★★
        %li.contents__review__total__num
          2件のレビュー
        %li.contents__review__total__count
          5つ星のうち5.0
      %table.contents__review__histogram
        %tr
          %td.contents__review__histogram__label
            星５つ
          %td.contents__review__histogram__meter
            .contents__review__histogram__meter__5
          %td.contents__review__histogram__count
            2
        %tr
          %td.contents__review__histogram__label
            星４つ
          %td.contents__review__histogram__meter
            .contents__review__histogram__meter__4
          %td.contents__review__histogram__count
            0
        %tr
          %td.contents__review__histogram__label
            星３つ
          %td.contents__review__histogram__meter
            .contents__review__histogram__meter__3
          %td.contents__review__histogram__count
            0
        %tr
          %td.contents__review__histogram__label
            星２つ
          %td.contents__review__histogram__meter
            .contents__review__histogram__meter__2
          %td.contents__review__histogram__count
            0
        %tr
          %td.contents__review__histogram__label
            星１つ
          %td.contents__review__histogram__meter
            .contents__review__histogram__meter__1
          %td.contents__review__histogram__count
            0
      .contents__review__write
        %p
          あなたのご意見やご感想を教えてください
        = link_to new_recipe_review_path(@recipe.id), class: 'contents__review__write__button', method: :get do
          カスタマーレビューを書く
          %i.fa.fa-angle-right
      %ul.contents__review__body
        %li.contents__review__body__title
          %span.contents__review__body__title__star
            %span.contents__review__body__title__star__front
              ★★★★★
            %span.contents__review__body__title__star__back
              ★★★★★
          %span.contents__review__body__title__text
            さすが世界的な名作です
        %li.contents__review__body__author
          投稿者
          %span.contents__review__body__author__name
            ブラックバード
          投稿日
          2012/10/5
        %li.contents__review__body__text
          この世界的な名作を一度は読んでおこうと思い立ったのがきっかけで読んでみました。

          この作品はナポレオン戦争期のロシアを舞台に、その戦争と貴族の生活や恋愛を描いています。

          まず驚いたのは一文一文の密度の濃さです。全く無駄がないというどころではなく、どの文も重要な意味が含まれているようなそんな文章です。文章が読みにくいという難しさはありません。むしろ読みやすい文章です。時間がかかるとすれば、全ての一文が重いからだと思います。この点、さすがに世界的名作というか偉大な作家の文章は違うなと感じました。

          話の内容ですが、分かり易くいえば司馬さんの「坂の上の雲」に庶民の生活や恋愛要素を加えたような感じといえば分かり易いといえます。「坂の上の雲」はほぼ完全な現場の戦記であるのに対し、「戦争と平和」はやはり克明に描かれる戦闘が、その戦闘とは別の場所で生きる人々に与える影響まで描いています。よって舞台がころころ変わり登場人物も膨大な数（５５９人）になるのですが、読み進んでいくと不思議と読みやすくなってきます。それだけ読み手のことも意識しているに違いありません。このあたり巨大な構成力みたいなものを感じます。

          ただ、時代も時代背景も国も社会的地位も違う人々の心の動きというのはなかなか想像しがたいものがありますね。それは作品内でたびたび記述されるトルストイの考え方にしても同じです。だから決して人類普遍の法則のようなものが延々と描かれているわけではありませんが、当時のロシアや戦争や貴族の世界の雰囲気というのはこういうものだったんだろうなということが分かる、ロシアの文化遺産的な名著であることは間違いないと思います。
  = render partial: 'layouts/modules/footer'
